@use "styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: variables.$background-color;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 8.2rem 1fr auto;
  margin: auto;
  max-width: 110rem;
  min-height: 100vh;
  padding: 4rem;
}

header {
  grid-area: 1/1/1/-1;

  .heading {
    color: variables.$text-color-700;
    font-size: 6rem;
  }
}

main {
  border-right: thin dotted variables.$text-color-700;
  grid-area: 2/1/2/9;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

aside {
  grid-area: 2/9/2/-1;
  margin-top: 4rem;
  padding: 0 0 2rem 2rem;
}

footer {
  border-top: thin dotted variables.$text-color-700;
  display: grid;
  grid-area: 3/1/3/-1;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem 0;
}

@media screen and (max-width: 46.5em) {
  .container {
    grid-template-rows: 15rem 1fr auto;
  }
}

@media screen and (max-width: 45em) {
  .container {
    grid-template-rows: 8rem 1fr auto;
  }

  header {
    .heading {
      font-size: 5rem;
    }
  }

  main {
    border-right: none;
    grid-area: 2/1/2/-1;
  }

  aside {
    display: none;
  }
}

@media screen and (max-width: 39.5em) {
  .container {
    grid-template-rows: 12rem 1fr auto;
  }
